# Assignment - Object Oriented Programming

### Question 1

### Build a class employee

#### Class must have following Attributes : 
##### 1.  Name
##### 2.  Age
##### 3.  ID details
##### 4.  Salary
##### 5. Position   (by default it will be sales man)

#### Class must have following class object attributes : 
##### 1.  Bonus
##### 2.  Timings

##### Class must have following methods
##### 1. Increase Salary
##### 2. Promote to another position
##### 3. In_time is time to come to office is more than normal time print late (office time are 9 am to 5 pm)

In [11]:
class Employee():
    bonus = 20
    timings = (9,17)
    def __init__(self,name,age,ide , salary = 0 , position = "Sales Man"):
        self.name = name
        self.age = age
        self.ide = ide
        self.salary = salary
        self.position = position
    def increase_salary(self , inc = 0):
        self.salary = self.salary + inc
    def in_time(self , intime):
        if intime > self.timings[0]:
            print("You are late")
        else:
            print("Welcome")
    def promote(self,pos):
        self.position = pos

In [13]:
person_1 = Employee("Arpit" , 21 , 1000 , 10000 )

In [14]:
print(person_1.name , person_1.age,person_1.ide , person_1.salary , person_1.position)

Arpit 21 1000 10000 Sales Man

In [15]:
person_1.in_time(10)

You are late

In [16]:
person_1.in_time(8)

Welcome

In [17]:
person_1.increase_salary(10000)

In [18]:
print(person_1.name , person_1.age,person_1.ide , person_1.salary , person_1.position)

Arpit 21 1000 20000 Sales Man

In [19]:
person_1.promote("Analyst")

In [20]:
print(person_1.name , person_1.age,person_1.ide , person_1.salary , person_1.position)

Arpit 21 1000 20000 Analyst

### Question 2

### Fill in the Line class methods to accept coordinates as a pair of tuples and return the slope and distance of the line.

In [38]:
class Line(object):
    
    def __init__(self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
    
    def distance(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((x2-x1)**2 + (y2-y1)**2)**0.5
    
    def slope(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        if x1 == x2:
            return "Divide by Zero not possible choose another pair of point"
        return (y2-y1)/(x2-x1)

In [39]:
coordinate1 = (4,5)
coordinate2 = (6,1)

li = Line(coordinate1,coordinate2)

In [40]:

li.distance()

4.47213595499958

In [41]:
li.slope()

-2.0

In [43]:
coordinate1 = (4,5)
coordinate2 = (4,1)

li = Line(coordinate1,coordinate2)

In [44]:
li.distance()

4.0

In [45]:
li.slope()

'Divide by Zero not possible choose another pair of point'

# END